:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
}

[hidden] {
  display: none !important;
}
