.inputSection{
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid rgba(13, 107, 189, 0.4);
  border-radius: 1.1rem;
  margin: 1.1rem;
  padding: 0.5rem;
  background-color: white;
}