.inputSection{
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid rgba(13, 107, 189, 0.4);
  border-radius: 1.1rem;
  margin: 1.1rem;
  padding: 0.5rem;
  background-image: linear-gradient(rgb(153, 185, 240), rgb(206, 216, 234), rgb(153, 185, 240));
}
