body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1.1rem;
  margin: 0;
  background-color: rgb(250, 250, 250);
  gap: 1.1rem; 
}

.layout {
  flex: 0 0 30vw;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  overflow-y: auto;
}

@media (max-width: 430px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100vw;
    height: auto;
    overflow-y: auto;
  }

  .layout {
    flex: none;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .resultsSection {
    width: 100%;
  }
}


