body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1.1rem;
  margin: 0;
  background-color: rgb(250, 250, 250);
  gap: 1.1rem; 
}

.layout {
  flex: 0 0 30vw;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  overflow-y: auto;
}


