@media (max-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .layout {
    width: 100%;
    flex: none;
    overflow: visible;
    display: flex;
    align-items: center;
  }

  .inputSection {
    width: 80%;
    max-width: 100%;
  }

  .resultsSection {
    width: 80%;
    flex: none;
    overflow: visible;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

