@media (max-width: 1200px ), (max-height: 880px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .layout {
    width: 100%;
    flex: none;
    overflow: visible;
    display: flex;
    align-items: center;
  }

  .inputSection {
    width: 80%;
    max-width: 100%;
  }

  .resultsSection {
    width: 80%;
    flex: none;
    overflow: visible;
  }

  table, th, td{
    padding: 0.3rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 1620px){
  img{
    max-height: 300px;
  }

  .inputSection, .resultsSection{
    width: 90%;
  }
}

