.resultsSection{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 20px;
  border: 2px solid rgba(13, 107, 189, 0.4);
  border-radius: 1.1rem;
  margin: 1.1rem;
  padding: 0.5rem;
  background-color: white;
}

#explenationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0.7rem;
  font-size: 1.15rem;
}

#explenationContainer{
  text-align: center;
}


.resultsSection button{
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  
  border: 2px solid rgba(13, 107, 189, 0.4);
  border-radius: 1.1rem;
  padding: 1.1rem;
  margin: 0.3rem;
}

.resultsSection button:hover{
  cursor: pointer;
  background-color: #0d6bbd60;
  border-color: #0d6bbd90;
  transform: scale(1.1);
}
