@import url(https://fonts.googleapis.com/css?family=Noto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.sectionTitle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 5px;
  cursor: pointer;
  width: 100%;
}

.sectionTitle h3{
  font-size: 1.3rem;
  margin-left: 1.1rem;
}

.sectionTitle i {
  display: inline-block;
  transition: transform 0.3s ease;
  color: #0d6bbd;
  transform: rotate(180deg);
}

.sectionTitle i.rotated {
  transform: rotate(0deg);
}

