table, th, td{
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 15px #0d6bbd50;
}

td, th {
  border: 1px solid #0d6bbd90;
}

tr:first-child th,
tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}

tr:last-child{
  background-color: #0d6bbd50;
}